@import url(reset.css);
:root{
    --cor-fund-menu:#0b182c;
    --cor-font-menu: #e5f1ff;
    --font-menu: 'Open';
}
body{
    background-color:#cecece;
}
.menu{
    background-color: var(--cor-fund-menu);
    align-items: center;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: var(--cor-font-menu);
    position: relative;
    
}
.menu_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_alura{
    margin: 10px;
}
.menu__lista{
    display: flex;
    padding: 1.5rem;
    list-style: none;
}
.item_lista{
    padding: 0.5rem;
}
