.card{
    background-color: var(--cor-funco-branco-padrao);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    

    
}
.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.card__botoes{
    display: flex;
    justify-content: space-between;
}
.botoes{

    display: flex;
    
    
}
.descricao__titulo{
    color: var( --cor-laranja);
    font-weight: 700;
}
.descricao__titulo-liro{
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    margin: 0.5em 0;
}

.descricao__texto{
    font-size: 14px;
}
.botoes__item{
    
    margin: 0 0.5em;
    
}
.botoes__ancora{
    background-color: var(--cor-laranja);
    color: var(--cor-funco-branco-padrao);
    padding: 0.9em 2em;
    font-weight: 700;
    text-decoration: none;
}