/*estou importando outro estilo de css para que não tenha que usar a tag link dentro do HTML*/
@import url(header.css);
@import url(reset.css);
@import url(menu.css);
@import url(banner.css);

:root{
    --cor-fundo-padrao:#EBECEE;
    --cor-funco-branco-padrao: #ffffff;
    --cor-laranja: #eb9b00;
    --font-principal: 'Poppins';
    --cor-azuldegrader:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

}

body{
    background-color: var(--cor-fundo-padrao);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}
